@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    @apply after:absolute   after:top-0 after:left-0 after:w-full after:h-full after:bg-black/20
  }
}
body {

  /* font-family: 'Domin', serif; */
  -webkit-tap-highlight-color: transparent;
}



.rgba {
  background-color: rgba(255,255,255, 0.9);
}
.shadow {
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
}
.times {
  font-family: 'Merriweather', serif;
  color: rgb(8, 8, 8)
}
.login-bottom-text{
  font-family: 'Roboto', sans-serif;

}
.disclaimer {

}
.center {
  left: 50%;
    transform: translate(-50%, 0);
}
.toggle{
  display: none;
}
.scale{
  transform: scale(1);
  transition: all 1s ease-in;
}
/* fonts  */
/*font-family: 'Anton', sans-serif;
font-family: 'Anybody', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Domine', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Grape Nuts', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Ranga', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Bubbles', cursive;
font-family: 'Send Flowers', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Vazirmatn', sans-serif;*/

